@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Handlee&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Handlee,
    cursive;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* html {
  padding: 0rem;
  margin: 0rem;
  size: 100%;
} */
body {
  margin: 0rem;
  /* height: 100%; */
  /* background-image: url("./assets/136072.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}
/* *{ border: 1px solid green;} */