.activitiesMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.activityCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 250px;
  padding: 1.2rem 0;
  margin-bottom: 0.5rem;
}
.activityCard p {
  font-size: 2.5rem;
  font-family: "Comic Neue";
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.activityCard span {
  font-family: "Handlee";
}
.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleContainer h1 {
  z-index: 2;
  font-size: 2rem;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.reloj {
  font-size: 20px;
  position: relative;
  bottom: 0.5rem;
  right: -0.5rem;
}

@media (max-width: 640px) {
  .activitiesMainContainer {
    display: flex;
    flex-direction: column;
  }
}
