.cardContainer{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    /* justify-content: space-around; */
    
    display: flex;   
    flex-direction: column;     
    
    width: 250px;
    height:300px ;
}
.nameTitle{
    text-align: center;
    height: 50px;
    margin: 0 0;
    padding-bottom: -20px;
    color: #333333;
}
.cardContainer p { 
    text-align: center;
    margin:5px 0 10px;
    font-family: 'Handlee';
    padding: 0;
    color: #666666;
}
.cardContainer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imageContainer{
    
    text-align: center;
 
}

.imageContainer img{
margin-bottom: 5px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2)
   
}
.link{
    text-decoration: none;
}
.cardContainer:hover{
    transform: scale(1.1);
}