.paginationButtons {
  display: inline-block; 

}

.paginationButtons button {

  font-size: 14px;
  font-weight: 500;
  color: black;
  float: left;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.paginationButtons button:hover {
  background-color: #f24236;
  cursor: pointer;
}

.paginationButtons .pageSelected {
  background-color: #f24236;
  color: white;
  font-weight: bold;
}
