.navBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0197f6;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 1rem;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.link {
  list-style: none;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 640px) {
  .navBar {
    display: flex;
    flex-direction: column;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
