.sidePanelContainer{
    display: flex;
    flex-direction: column;
    
    height: auto;
    margin-right: 20px;
    /* margin-left: 5px; */
    width: 150px;
    height: auto;    
}

.sidePanelContainer div{
    margin-left: 10px;
}

.sidePanelContainer h4{
   color: #333333;
    margin-bottom: 5px;
}
label{
color: #666666;
}

@media (max-width: 640px){
    section img{
      display: block;
      margin-left: 15px;
    }
    .sidePanelContainer{
        display: none;
    }
  }