.sidePanelContainer{
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 20px;  
    width: 150px;
    height: auto;    
}

.sidePanelContainer select {
  padding: 0.3rem 1rem 0.3rem 0.7rem;
  border-radius: 0.5rem;  
  border: 1px solid #cfd3d4;
  font-family: 'Handlee';
  margin-bottom: 0.5rem;

}
/* .sidePanelContainer select option:hover{  
  background-color: #ff0000;
} */
.sidePanelContainer div {
  margin-left: 10px;
}

.sidePanelContainer h4 {
  color: #333333;
  margin-bottom: 5px;
}

label {
  font-family:'Comic Neue';
  color: #666666;
}

@media (max-width: 640px) {
  .sidePanelContainer {
    display: none;
  }
}
